<h1 align="center">View Student</h1>
<table align="center" border="1" cellspadding="5">
        
    <thead>
        <th>Roll No</th>
        <th>Name</th>
        <th>Standard</th>
        <th>Division</th>
        <th>Add Result</th>
    </thead>

    <tbody>
        <% result.forEach(function (data){%>
           
            <tr>
                <td><%= data.rno%></td>
                <td><%= data.name%></td>
                <td><%= data.standard%></td>
                <td><%= data.division%></td>
                <td><a href="/addresult/<%= data.id%>">Add Result</a></td>
            </tr>
        <%})%>
    </tbody>
</table>