<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Result</title>
    <style>
        input{
            margin: 5px 0px;
        }
        select{
            margin: 5px 0px;
        }
        .header{
            display: flex;
            justify-content: center;
        }
        .nav a{
            margin:20px;
        }
        a{
            text-decoration: none;
            color: blue;
            font-size: 18px;
        }
    </style>
</head>
<body>
    <div class="header">
        <div class="nav">
            <a href="addstaff">Add Staff</a>
            <a href="staffstudent">View Student</a>
        </div>
    </div>

    <h1 align="center">View Result</h1>
    <table align="center" border="1" cellspadding="5">
        <thead>
            <th>Roll No</th>
            <th>Student Name</th>
            <th>Standard</th>
            <th>Division</th>
            <th>Gujarati</th>
            <th>English</th>
            <th>Maths</th>
            <th>Hindi</th>
            <th>Science</th>
            <th>Total</th>
            <th>Percentage</th>
            <th>Update Result</th>
        </thead>

        <tbody>
            <% result.forEach(function (data){%>
                <tr>
                    <td><%= data.rno%></td>
                    <td><%= data.sname%></td>
                    <td><%= data.std%></td>
                    <td><%= data.division%></td>
                    <td><%= data.guj%></td>
                    <td><%= data.eng%></td>
                    <td><%= data.maths%></td>
                    <td><%= data.hindi%></td>
                    <td><%= data.science%></td>
                    <td><%= data.total%></td>
                    <td><%= data.avg%></td>
                    <td><a href="/update/<%= data.rno%>">Update Result</a></td>
                </tr>
            <%})%>
        </tbody>
    </table>
</body>
</html>